[Unit]
Description=Wait for Tailscale to be Online
Documentation=https://github.com/josh/wait4tailscale
Wants=tailscaled.service
After=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/wait4tailscale -online -env-file=%t/tailscale/status.env
ExecStop=/usr/bin/rm -f %t/tailscale/ip.env
